@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lobster', sans-serif;
}

.but{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 0;
    min-width: 0;
    flex-direction: column;
}

.button{
    position: relative;
    display: inline-block;
    padding: 14px 14px;
    margin: 0px 0;
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0005);
}

.button:hover {
    background: #e62b1e;
    color: #050801;
    box-shadow: 0 0 5px #e62b1e,
                0 0 25px #e62b1e,
                0 0 50px #e62b1e,
                0 0 200px #e62b1e;
    
}

.button span{
    position: absolute;
    display: block;
}

.button span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#e62b1e);
    animation: animate1 1s linear infinite;
}

@keyframes animate1 {
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }

}
.button span:nth-child(2){
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(90deg,transparent,#e62b1e);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

@keyframes animate2 {
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }

}
.button span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#e62b1e);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate3 {
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }

}
.button span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#e62b1e);
    animation: animate4 1s linear infinite;
    animation-delay: 0.100s;
}

@keyframes animate4 {
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }

}